h1,h2{
color:green;
background-color:lightgreen;
width: 70mm;
font-size: 14pt;
text-align: center;
line-height: 14pt;
vertical-align: middle;	
font-family:Times, serif;
}

body{
	width: 200mm;
	text-align: justify;
	font-size: 12pt;
	font-family:Times, serif;
}

#preamble{
	display: none;
}
#preamble img{
	display: none;
}
#preamble a{
	display: none;
}

#div_laterale{
	display: none;
}

